body{
    background-color: rgb(58, 0, 79);
}
div{
    display: inline-block;
    margin: 100px;
    margin-inline-start: 300px;
}


.cuadrado{
    width: 100px;
    height: 100px;
    background-color: rgb(42, 199, 230);
    border: 2px black solid;
    transition: all 1s;
}
.cuadrado:hover{
    background-color: rgb(25, 124, 144);
    cursor: progress;
    transform: scale(2, 1.2);
}


.circulo{
    width: 100px;
    height: 100px;
    background: rgb(233, 20, 20);
    border-radius: 50%;
    border: 2px black solid;
    transition: all 3s;
}
.circulo:hover{
    background: url(../Messi\ rotando.gif) rgb(188, 16, 16);
    background-size: cover;
    cursor: pointer;
    transform: rotate(180deg) scale(2);
}


.triangulo{
    width: 100px;
    height: 100px;
    background-color: rgb(250, 226, 43);
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    transition: all 3s;
}
.triangulo:hover{
    background-color: rgb(211, 179, 36);
    cursor: help;
    transform: translate(-40px, 50px);
}


.estrella{
    width: 100px;
    height: 100px;
    background: rgb(184, 43, 250);
    clip-path: polygon(50% 2.45%, 61.8% 38.77%, 100% 38.77%, 69.1% 61.23%, 80.9% 97.55%, 50% 75.1%, 19.1% 97.55%, 30.9% 61.23%, 0% 38.77%, 38.2% 38.77%);
    transition: all 4s;
    perspective: 200px;
}
.estrella:hover{
    background: url(../Mi\ propia\ carta.png) blueviolet;
    background-size: cover;
    cursor:all-scroll;
    width: 200px;
    height: 200px;
    transform: rotate3d(5, 11, 0, 40deg);
}


img{
    width: 200px;
    height: 200px;
    animation:  fantasma 2s infinite;
    margin-inline-start: 500px;
}
@keyframes fantasma {
    0%,
    100%{
        opacity: 0;
    }
    25%{
        opacity: 1;
        transform: translateY(-40px);
    }
}